#site_header .bg_blue {
  height: 50px;
  background-color: #3797f6;
}
#site_header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#site_header nav ul {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 0;
}
#site_header nav ul li {
  font-weight: 600;
  display: inline-block;
  margin: 10px 30px 10px 30px;
}
#site_header nav ul li a {
  text-decoration: none;
  color: #3797f6;
}

.comics {
  margin: 20px;
}
.comics .button {
  display: inline-block;
  padding: 5px 10px;
  margin: 20px 0 30px 0;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #3797f6;
}
.comics .button a {
  text-decoration: none;
  color: white;
}
.comics .table {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #3797f6;
}
.comics .table .image, .comics .table .name, .comics .table .price,
.comics .table .available, .comics .table .description {
  margin-right: 150px;
  height: 350px;
}

.create {
  margin: 20px;
}
.create h1 {
  margin-bottom: 20px;
}
.create .form-group label {
  width: 150px;
}
.create .form-group .button {
  background-color: #3797f6;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}