* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.active {
  border-bottom: 4px solid #0282f9;
}

/* #site_header{
    .bg_blue{
        height: 50px;
        background-color: #3797f6;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        ul{
            list-style: none;
            display: inline-block;
            padding: 10px;
            margin: 0;

            li{
                font-weight: 600;
                display: inline-block;
                margin: 10px 30px 10px 30px;

                a{
                    text-decoration: none;
                    color: #3797f6;
                }
            }
        }
    } 
} */
header .up_header {
  background-color: #3797f6;
  color: white;
  display: flex;
  align-items: center;
}
header .up_header .up_content {
  text-align: right;
  padding: 5px;
}
header .up_header .up_content span {
  font-size: 12px;
  margin: 10px;
}
header .up_header .up_content span:hover {
  cursor: pointer;
}
header .bottom_header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom_header a img {
  height: 80px;
}
header .bottom_header ul {
  list-style: none;
}
header .bottom_header ul li {
  display: inline;
  margin: 15px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
header .bottom_header input {
  width: 120px;
  text-align: right;
  border: none;
  border-bottom: 3px solid #3797f6;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  margin: 5px;
}
header .bottom_header i {
  font-size: 12px;
}

.comics {
  background-color: #1c1c1c;
  padding: 20px 0px 50px 0;
  position: relative;
}
.comics .genre {
  position: absolute;
  top: -20px;
  left: 300px;
}
.comics .genre span {
  text-transform: uppercase;
  font-size: 30px;
  background-color: #3797f6;
  color: white;
  padding: 10px 20px;
}
.comics .container_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.comics .container_card .card {
  height: 290px;
  width: 190px;
  margin: 35px 20px;
}
.comics .container_card .card a {
  text-decoration: none;
}
.comics .container_card .card a img {
  height: 290px;
  width: 190px;
}
.comics .container_card .card a span {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}
.comics .container_card .card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.comics .button {
  text-align: center;
}
.comics .button span {
  background-color: #3797f6;
  color: white;
  padding: 10px 100px;
}
.comics .button span:hover {
  cursor: pointer;
  color: #3797f6;
  background-color: white;
  border: 1px solid #3797f6;
}

.create {
  margin: 20px;
}
.create h1 {
  margin-bottom: 20px;
}
.create .form-group label {
  width: 150px;
}
.create .form-group .button {
  background-color: #3797f6;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.credits {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: top;
}
.credits .credit_left {
  width: 50%;
  height: 100%;
}
.credits .credit_left .container_left {
  display: flex;
}
.credits .credit_left .list_left {
  margin: 20px 20px 20px 0;
}
.credits .credit_left .list_left ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .list_left ul h3 {
  margin-bottom: 15px;
}
.credits .credit_left .list_left ul li {
  color: #959595;
  font-size: 14px;
  margin-bottom: 5px;
}
.credits .credit_left .list_left ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .other_list {
  margin: 20px;
}
.credits .credit_left .other_list ul {
  list-style: none;
  color: white;
  margin-top: 20px;
}
.credits .credit_left .other_list ul h3 {
  margin-bottom: 15px;
}
.credits .credit_left .other_list ul li {
  color: #959595;
  font-size: 14px;
  margin-bottom: 5px;
}
.credits .credit_left .other_list ul li:hover {
  cursor: pointer;
  color: white;
}
.credits .credit_left .copyright {
  color: #959595;
  font-size: 12px;
}
.credits .credit_left .copyright a {
  text-decoration: none;
  color: #3797f6;
}
.credits .credit_left .copyright a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.credits .credit_right {
  width: 50%;
  height: 420px;
  position: relative;
  background-image: url("../img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

.sign {
  background-color: #303030;
  margin: auto;
  padding: 30px;
}
.sign .container_sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign .container_sign .sign_left span {
  color: white;
  padding: 10px 15px;
  border: 2px solid #3797f6;
}
.sign .container_sign .sign_left span:hover {
  cursor: pointer;
  background-color: #3797f6;
  border: 2px solid white;
}
.sign .container_sign .sign_right {
  display: flex;
  align-items: center;
}
.sign .container_sign .sign_right a {
  text-decoration: none;
  color: #3797f6;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
}
.sign .container_sign .sign_right img {
  margin: 5px;
}
.sign .container_sign .sign_right img:hover {
  cursor: pointer;
}