.create{
    margin: 20px;

    h1{
        margin-bottom: 20px;
    }
    .form-group{
    
        label{
            width: 150px;
        }
    
        .button{
            background-color: #3797f6;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
    
        }
    }
}