.comics{
    margin: 20px;

    .button{
        display: inline-block;
        padding: 5px 10px;
        margin: 20px 0 30px 0;
        font-size: 22px;
        text-transform: uppercase;
        background-color: #3797f6;

        a{
            text-decoration: none;
            color: white;
        }
        
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        background-color: #3797f6;
        color: white;
        margin-bottom: 25px;
        padding: 5px;
        border-radius: 2px;
        margin-top: 50px;
    }
    .table{
        display: flex;

        .element{
            width: calc(100% / 5);
        }
        .description{
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 285px;
        }
    }
}